* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    width: 100%;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background:linear-gradient(135deg, #89f7fe 0%, #66a6ff 100%);
    justify-content: center;
    padding: 10px;
}
h1, h2, h3 {
    margin-bottom: 15px;
    color: #444;
}

#logo {
    display: block;
    margin: 20px auto;
    height: 100px;

}
#search-section {
    margin-bottom: 30px;
    text-align: center;
}
#artistInput {
    padding: 10px;
    width: 300px;
    font-size: 16px;
    border: 1px solid #ccc;
}
#searchBtn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #6496c5;
    color: white;
    cursor: pointer;
}
#searchBtn:hover {
    background-color: #0060af;
}
#artistInfo, #albums {
    margin-top: 20px;
}
.album {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
  min-height: 350px; /* kiinteä korkeus, jos haluat että rivit pysyvät tasaisina */
  transition: all 0.3s ease;
}
.album img {
    width: 100%;
    height: auto;
}
.album button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 14px;
    border: none;
    background-color: #2144df;
    color: white;
    cursor: pointer;
}
.album button:hover {
    background-color: #273cff;
}
ul {
    list-style-type: none;
    margin-top: 10px;
}
li {
    background-color: #f9f9f9;
    margin: 5px 0;
    padding: 8px;
    border: 1px solid #ddd;
}
#albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.album {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  transition: all 0.3s ease;
}

.tracklist {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  text-align: left;
  background-color: #ffffff;
  border-radius: 5px;
  overflow-y: auto;
  max-height: 600px;
}


.tracklist li {
  background-color: #d6d6d6;
  margin: 3px 0;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 14px;
  color: #000000;
}

#artistSelect {
    font-weight: bold;
    margin-bottom: 10px;
    border: none;
    background-color: #f9f9f9;

}
label {
    margin-right: 10px;
    font-weight: bold;
    
}